/dts-v1/;
/plugin/;
/ {
   compatible = "brcm,bcm2835";         // RPi3

   fragment@0 {
      target-path = "/";
      __overlay__ {
         keypad: smsepad {
            compatible = "gpio-keys";
            // autorepeat;
            button@1 {
               label = "up";
               linux,code = <17>;       // W
               gpios = <&gpio 5 17>;
            };
            button@2 {
               label = "down";
               linux,code = <31>;       // S
               gpios = <&gpio 12 17>;
            };
            button@3 {
               label = "left";
               linux,code = <30>;       // A
               gpios = <&gpio 6 17>;
            };
            button@4 {
               label = "right";
               linux,code = <32>;       // D
               gpios = <&gpio 16 17>;
            };
            button@5 {
               label = "reset";
               linux,code = <16>;       // Q
               gpios = <&gpio 13 17>;
            };
            button@6 {
               label = "button1";
               linux,code = <37>;       // K
               gpios = <&gpio 20 17>;
            };
            button@7 {
               label = "start";
               linux,code = <28>;       // ENTER
               gpios = <&gpio 19 17>;
            };
            // pin@8 = gnd
            button@9 {
               label = "button2";
               linux,code = <38>;       // L
               gpios = <&gpio 26 17>;
            };
         };
      };
   };
};
